*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: black;
    color: white;
    margin: 10px; 
    animation: exibir 5s linear forwards;
    font-size: 20px
}

@keyframes exibir {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-text-stroke: 0.5px red;
}

.p1_twenty{
    margin: 10px;
    accent-color: rgb(135, 3, 3);
    cursor: pointer;
}

#rsp_p1_a,#rsp_p1_b{
    display: none;
}

#rsp_p1_a.exibir,#rsp_p1_b.exibir{
    animation: exibir 1.5s linear forwards;
    display: flex;
    background-color: rgb(126, 13, 13);
    padding: 5px;
    margin-top: 25px;
    border-radius: 10px;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto_twenty{
    width: 150px;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    transition: 1s ease;
    cursor: pointer;
}

.foto_twenty:hover{
    width: 300px;
    border: 2px solid rgb(105, 10, 10);
}

#tyler{
    border: 1px solid white;
    margin-top: 70px;
    margin-right: 110px;
    transition: 0.3s ease;
    float: right;
}

#tyler:hover{
    transform: scale(1.05);
    border: 2px solid rgb(105, 10, 10);
    box-shadow: 0 0 10px 0 white;
}

.historia1{
    display: flex;
    text-align: justify;
    margin: 20px 15px 30px 15px;
    float: left;
    -webkit-text-stroke: 0.2px red;
}

.membro_twenty{
    border: 1px solid white;
    width: 300px;
    margin-left: 30px;
    height: auto;
    transition: 0.3s ease;
}

.membro_twenty:hover{
    transform: scale(1.05);
    border: 2px solid rgb(105, 10, 10);
    box-shadow: 0 0 10px 0 white;
}

.historia2{
    width: 900px;
    text-align: justify;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    -webkit-text-stroke: 0.2px red;
}

.clear{
    clear: both;
}

.atualmente{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    -webkit-text-stroke: 0.2px red;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(black,black,rgb(72, 4, 4));
    border: 1px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s linear;
}

button:hover{
    color: red;
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 white;
}


.modal_twenty{
    display: none;
    background-color: black;
    padding: 50px;
    border-radius: 20px;
    align-items: center;
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    border: 2px solid white;
}

.modal_twenty.abrir{
    display: flex;
    flex-direction: column;
}

audio::-webkit-media-controls-enclosure{
    background-color: rgb(26, 24, 24);   
    border: 2px solid rgb(68, 13, 13);
}

.doubt{
    transition: linear;
}

.doubt:hover{
    animation: batida 0.5s linear infinite;
    box-shadow: 0 0 10px 0 rgb(89, 8, 8);
}

@keyframes batida{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

footer{
    text-align: center;
    margin-top: 50px;
}
